@import "./variables";
@import "./reset";

html,
body {
  margin: 0;
  height: 100%;
  font-family: "Raleway", sans-serif;
  color: $dark;
  box-sizing: border-box;
}

/* ---------------------- Animations ------------------------ */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* ---------------------- Mixin ------------------------ */
@mixin size($w, $h: $w) {
  width: $w;
  height: $h;
}
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin linkStyle($size, $weight, $transform: uppercase) {
  cursor: pointer;
  transition: 0.5s;
  font-size: $size;
  font-weight: $weight;
  text-transform: $transform;
}
@mixin fontStyle($size, $weight, $line-height, $transform: uppercase) {
  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
  text-transform: $transform;
}

/* ---------------------- Typograph ------------------------ */
h1 {
  @include fontStyle(38px, 400, 38px, normal);
}
h2 {
  @include fontStyle(30px, 600, 30px);
}
h3 {
  @include fontStyle(26px, 500, 26px, normal);
}
h4 {
  @include fontStyle(22px, 700, 22px);
}
h5 {
  @include fontStyle(18px, 600, 18px);
}
h6 {
  @include fontStyle(14px, 600, 14px);
}
p {
  @include fontStyle(16px, 400, 16px, normal);
}
small {
  @include fontStyle(12px, 400, 12px, normal);
  color: $gray-mid;
}
mark {
  background-color: #fff3f3;
  padding: 4px;
}
/* ---------------------- Dashboard ------------------------ */

.page-name {
  margin-bottom: 20px;
  @include fontStyle(24px, 500, 24px);
}
.btn-add {
  @include size(42px);
  @include flexCenter;
  background-color: var(--primary);
  color: #fff;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  box-shadow: 0 2px 18px rgba($primary, 0.36);
  transition: 0.5s;
  &:hover {
    background-color: var(--primary-deep);
  }
}

/* ---------------------- input & form ------------------------ */
.form-section {
  margin-bottom: 20px;
  font-family: "Nunito Sans", sans-serif;
}
.star-sight {
  @include fontStyle(20px, 700, 20px);
  color: $red;
  padding: 0 5px;
}
label {
  @include fontStyle(14px, 500, 14px, normal);
  color: $gray-mid;
  margin-bottom: 8px;
}
input,
select {
  @include size(100%, 48px);
  padding: 0 18px;
}

textarea {
  padding: 18px;
  width: 100%;
}

input,
textarea,
select {
  @include fontStyle(16px, 500, 16px, normal);
  border: 1px solid $bluegray-light;
  background-color: #fff;

  &:focus {
    border: 1px solid var(--primary);
  }
  &::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $gray-light;
    opacity: 1; /* Firefox */
    font-weight: 400;
  }

  &::-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: $gray-light;
    font-weight: 400;
  }

  &::-ms-input-placeholder {
    /* Microsoft Edge */
    color: $gray-light;
    font-weight: 400;
  }
}

/* ---------------------- Upload file ------------------------ */
.upload-section {
  position: relative;
  @include size(100%, 60px);

  input.input-file {
    opacity: 0;
    position: absolute;
    @include size(100%, 60px);
    
  }
  .input-file-wrap {
    position: absolute;
    @include size(100%, 60px);
    border: 1px dashed $bluegray-light;
    background-color: #fff;
    color: $bluegray-mid;
    @include flexCenter;

    ion-icon {
      font-size: 26px;
      margin: 0 14px;
    }
  }
}

/* ---------------------- switch button ------------------------ */
.switch-btn {
  vertical-align: middle;
  display: flex;
  align-items: center;
  padding: 10px 0;

  .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 22px;
    margin: 0 10px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: -1px;
    bottom: -1px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    box-shadow: 0 2px 10px rgba($dark, 0.5);
  }

  input:checked + .slider {
    background-color: var(--primary);
  }

  input:focus + .slider {
    box-shadow: 0 0 1px var(--primary);
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 26px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
}

/* ---------------------- Table ------------------------ */
.table-overflow {
  width: 100%;
  min-width: 650px;
}
table.table-wrap {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 8px;
  margin-top: 10px;
  font-family: "Nunito Sans", sans-serif;

  .text-center {
    text-align: center;
  }
  .text-right: {
    text-align: right;
  }
  thead tr th,
  tbody tr td {
    &:first-child {
      padding-left: 20px;
    }
  }

  thead {
    width: 100%;
    @include fontStyle(14px, 600, 14px, normal);
    margin-bottom: 10px;

    tr {
      th {
        padding: 10px;
      }
    }
  }

  tbody {
    width: 100%;
    @include fontStyle(14px, 400, 14px, normal);
    tr {
      @include size(100%, 70px);
      background-color: #fff;
      transition: 0.5s;
      border-radius: 6px;

      td {
        vertical-align: middle;
        padding: 0 10px;

        &:first-child {
          border-top-left-radius: 6px;
          border-bottom-left-radius: 6px;
        }
        &:last-child {
          border-top-right-radius: 6px;
          border-bottom-right-radius: 6px;
        }

        &.item-origin-price,
        &.item-current-price {
          padding-right: 30px;
        }

        .item-category {
          background-color: #eff7f4;
          color: $bluegray-deep;
          font-size: 12px;
          padding: 7px 12px;
          border-radius: 20px;

          &.modern-chair-tag {
            background-color: #f7f6ef;
            color: #8e8458;
          }
          &.styling-lamp-tag {
            background-color: #f3eff7;
            color: #836591;
          }
          &.living-room-tag {
            background-color: #eff5f7;
            color: #62678c;
          }
          &.bedroom-tag {
            background-color: #eff7ef;
            color: #658091;
          }
          &.kitchen-tag {
            background-color: #fbf6f4;
            color: #ce8868;
          }
        }

        .item-thumbnail {
          width: 50px;
          height: 50px;
          background-size: cover;
          background-position: center;
          border-radius: 4px;
        }
        .item-status {
          display: flex;
          justify-content: center;
          &:before {
            content: "";
            display: block;
            @include size(6px);
            border-radius: 50%;
          }
        }
        .item-active {
          &:before {
            background-color: var(--primary);
          }
        }
        .item-inactive {
          &:before {
            background-color: $bluegray-shallow;
          }
        }
        .action-btn {
          @include size(30px);
          border-radius: 5px;
          border: 1px solid $bluegray-shallow;
          margin: 0 4px;
          padding: 0;
          color: $gray-mid;
          transition: 0.5s;

          ion-icon {
            font-size: 18px;
            text-align: center;
            vertical-align: middle;
          }

          &:hover {
            background-color: var(--primary);
            color: #fff;
            border: 1px solid transparent;
          }
        }
      }

      &:hover {
        box-shadow: 0 0 0 2px var(--primary);
      }
    }
  }
}
