@import "./variables";
@import "./reset";

html,
body {
  margin: 0;
  height: 100%;
  font-family: "Raleway", sans-serif;
  color: $dark;
  box-sizing: border-box;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@mixin size($w, $h: $w) {
  width: $w;
  height: $h;
}
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin linkStyle($size, $weight, $transform: uppercase) {
  cursor: pointer;
  transition: 0.5s;
  font-size: $size;
  font-weight: $weight;
  text-transform: $transform;
}
@mixin fontStyle($size, $weight, $line-height, $transform: uppercase) {
  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
  text-transform: $transform;
}

// input & form
.form-section {
  margin-bottom: 20px;
}
.star-sight {
  @include fontStyle(20px, 700, 20px);
  color: $red;
  padding: 0 5px;
}
label {
  @include fontStyle(14px, 500, 14px, normal);
  color: $gray-mid;
  margin-bottom: 8px;
}
input {
  @include size(100%, 48px);
  padding: 0 18px;
}
textarea {
  padding: 18px;
  width: 100%;
}
input,
textarea {
  @include fontStyle(16px, 500, 16px, normal);
  border: 1px solid $bluegray-light;

  &:focus {
    border: 1px solid var(--primary);
  }
  &::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $gray-light;
    opacity: 1; /* Firefox */
    font-weight: 400;
  }

  &::-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: $gray-light;
    font-weight: 400;
  }

  &::-ms-input-placeholder {
    /* Microsoft Edge */
    color: $gray-light;
    font-weight: 400;
  }
}

// Typography
h1 {
  @include fontStyle(38px, 400, 38px, normal);
}
h2 {
  @include fontStyle(30px, 600, 30px);
}
h3 {
  @include fontStyle(26px, 500, 26px, normal);
}
h4 {
  @include fontStyle(22px, 700, 22px);
}
h5 {
  @include fontStyle(18px, 600, 18px);
}
h6 {
  @include fontStyle(14px, 600, 14px);
}
p {
  @include fontStyle(16px, 400, 16px, normal);
}
small {
  @include fontStyle(12px, 400, 12px, normal);
  color: $gray-mid;
}
